@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
--cor-de-fundo:linear-gradient(180deg, rgba(0,11,50,1) 0%, rgba(76,120,198,1) 18%, #ffff 55%);
--cor-da-fonte: #FFFF;
--vermelho: #e64141;
--botao-ativo:#5967e7;
--botao-inativo:#0212aa;
}

body{
    background: rgb(255,255,255);
    background: var(--cor-de-fundo);
    background-repeat: no-repeat;
    height: 100vh;

    color: var(--cor-da-fonte);
    font-family: "Cormorant Garamond", serif;
    font-weight: 1000;
    font-style: normal;
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

}
.conteudo-principal span{
    color: var(--vermelho);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200;
}

.titulo-principal {
    color: #FF000F;
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.botao{
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    color:var(--branco);
    width: 100%;
    border: 4px solid var(--botao-ativo);
    border: 2px solid var(--botao-ativo);
    border: 2px solid var(--botao-ativo);
    border-top: none;
}

.botao:first-child{
    border-radius: 40px 40px 0 0 ;
 }

 .principal-botoes{
     display: block;
 }

 @media screen and (min-width:768px){
     .botoes{
         display: flex;
     }
     .botao:first-child{
        border-radius: 40px 0px 0 0 ;
     }
 }